<h2>New Song</h2>

<p> Add a new song for <%= @artist.name %> </p>
<%= form_for([@artist, @song]) do |f| %>

  <div id="error_explanation">
    <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>
    <ul>
      <% @song.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>

  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.submit %> 
<% end %>
